extends: default

rules:
  document-start: disable
  line-length:
    max: 120
    allow-non-breakable-words: true
    ignore: |
      .github/workflows/response-time.yml
      .github/workflows/setup.yml
      .github/workflows/uptime.yml
  comments:
    min-spaces-from-content: 1
  truthy:
    check-keys: false
